body {
    font-family: 'Poppins', sans-serif;
    background-color: black;

    display: flex;
    justify-content: center;


}

#appDiv{
    box-sizing: border-box;
    position: relative;
    max-height: 100%;

}

#root{
    height: 874px;
    width: 402px;
    color: white;
    position: fixed;
}

#HomeLink {
}


  
  .formDiv label,
  .formDiv input,
  button,
  a {
    font-family: 'Poppins', sans-serif;
  }

  h1{
    font-size: 34px;
}
