body {
    font-family: 'Poppins', sans-serif;
    background-color: black;

    display: flex;
    justify-content: center;


}

.app{
    height: 100%;
    width: 100%;
}

#root{
    height: 874px;
    width: 402px;
    color: white;
}

#HomeLink {
}


  
  .formDiv label,
  .formDiv input,
  button,
  a {
    font-family: 'Poppins', sans-serif;
  }

  h1{
    font-size: 34px;
}
