#selectAccDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
  }
  
  .selectAccBtn {
    background-color: #ffffff; /* Blue color for buttons */
    color: rgb(0, 0, 0);
    border-color: black;
    border: solid;
    padding: 12px 24px;
    font-size: 16px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    width: 100px;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    background-color: #004085; /* Even darker blue when clicked */
  }
  